<main>
    <section class="hero__section">
        <div class="hero__section_content">
            <h1>Preparing your Home For Your Buddy.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Itaque tempore libero nostrum hic earum at harum dignissimos rem quasi magnam.</p>
            <button>Learn More</button>
        </div>
        <div>
            <img src="../../../assets/img/5506680.jpg" alt="">
        </div>
    </section>
    <section class="search__section">
       <div>
        <ul>
            <li>Dogs</li>
            <li>Cats</li>
            <li>Other Pets</li>
        </ul>
       </div>
       <div class="search_options">
            <div>
                <label for="input-search">Search By Location</label>
                <input type="text" id="input-search" placeholder="Location">
            </div>
            <div>
                <label for="age">Age</label>
                <select name="age" id="age">
                    <option value="age">Any</option>
                    <option value="age">Puppy</option>
                    <option value="age">Young</option>
                    <option value="age">Adult</option>
                    <option value="age">Senior</option>
                </select>
            </div>
            <div>
                <label for="breed">Breed</label>
                <select name="breed" id="breed">
                    <option value="breed">Any</option>
                    <option value="breed">German</option>
                    <option value="breed">Labrador</option>
                    <option value="breed">Husky</option>
                </select>
            </div>
            <div>
                <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
                <button id="search">Search</button>
            </div>
       </div>
    </section>
</main>


