main {
    height: 100vh;
}

.hero__section {
    display: flex;

}

.hero__section_content {
    margin: auto 100px;
}

.hero__section_content > h1 {
    font-size: 85px;  
}

.hero__section_content > p {
    font-size: 25px;
    margin: 25px 0px;
}

.hero__section_content > button {
    width: 150px;
    height: 45px;
    background-color: #CC4E4E;
    border: none;
    text-transform: uppercase;
    color: whitesmoke;
}

img {
    width: 800px;
    height: 700px;
    
}

.search__section {
    background-color:  #CC4E4E;
    color: whitesmoke;
    width: 50%;
    margin: 0px auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 150px;
}



.search__section  ul {
    display: flex;
    padding: 20px;  
}

.search__section  ul > li {
    margin: 0px 10px;
}



.search_options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
     
}


.search_options > div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
}
.search_options > div > label {
   padding-left: 10px;
   padding-bottom: 5px;
}

.search_options > div > button{
    width: 150px;
    height: 40px;
}


.search_options > div > input {
    width: 350px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}

.search_options > div > select{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}


i:hover {
    color: white !important;
}