<section class="aboutus__section" id="aboutus">
  <div class="aboutus__imgContainer">
    <img src="../../../assets/img/pexels-ashley-julian-9041423.jpg" alt="">
  </div>
  <div class="aboutus__content">
    <h1>Get to know us</h1>
    <h2>
      We know pet adoption, because we're adopters too. We think it's just about
      the best thing you can do. But we'll be real: it can be a lengthy
      (paperwork-filled) process. So we're making it easier, with the tools,
      advice, and transparency you need—from the first search through to daily
      life as a pet parent. Because we'll do whatever it takes to help millions
      of people and pets find each other. Ready to find your pet? Let's do it.
    </h2>
  </div>
</section>
