<footer class="footer__main">
  <section class="footer__top">
    <ul>
      <h3>RESOURCES</h3>
      <li>FAQs</li>
      <li>Mobile App Download</li>
      <li>Partnerships</li>
      <li>News Center</li>
      <li>Put Petfinder On Your Site</li>
      <li>For Developers</li>
      <li>Contact Us</li>
    </ul>
    <ul>
      <h3>All Adopt or Get Involved</h3>
      <li>All Adopt or Get Involved</li>
      <li>Adopting Pets</li>
      <li>Animal Shelters & Rescues</li>
      <li>Other Types of Pets</li>
    </ul>
    <ul>
      <h3>All About Dogs & Puppies</h3>
      <li>All About Dogs & Puppies</li>
      <li>Dog Adoption</li>
      <li>Dog Breeds</li>
      <li>Feeding Your Dog</li>
      <li>Dog Behavior</li>
      <li>Dog Health & Wellness</li>
      <li>Dog Training</li>
      <li>Other Dog Information</li>
    </ul>
    <ul>
      <h3>All About Cats & Kittens</h3>
      <li>All About Cats & Kittens</li>
      <li>Cat Adoption</li>
      <li>Cat Breeds</li>
      <li>Feeding Your Cat</li>
      <li>Cat Behavior</li>
      <li>Cat Health & Wellness</li>
      <li>Cat Training</li>
      <li>Other Cat Information</li>
    </ul>
    <div class="footer__form">
      <p>To get the lastest on pet adoption and pet care, sign up for the Pet Adoption newsletter.</p>
      <button>SIGN UP</button>
    </div>
  </section>
  <section class="footer__bottom">
    <h5>&#169; 2023 PetAdoption.com All trademarks are owned by Rey.</h5>
    <div class="footer__bottom__links">
      <i class="fa-brands fa-facebook fa-2xl"></i>
      <i class="fa-brands fa-twitter fa-2xl"></i>
      <i class="fa-brands fa-instagram fa-2xl"></i>
    </div>
  </section>
</footer>
