<section class="advice__container" id="advice">
  <h1>Check out adoption advice</h1>
  <h2>Get the inside scoop on pet adoption and bring home a furry friend.</h2>
  <div class="advice__sub">
    <div>
      <h3>Why adoption over buying</h3>
      <h4>
        Did you know that over 1,000 people per hour run a search right here
        looking to adopt a pet? Pet adoption is quickly becoming the preferred
        way to find a new dog or cat, and rightly so, there are many benefits to
        adopting a pet. Pet adoption fees are usually much lower than buying
        from a breeder. <br>
        <br>
        You’re also likely to find a pet who’s already learned a
        few things. Adoptable pets are often already housetrained, good with
        kids, and do well with other pets. And don’t forget the wonderful
        feeling you get from saving a life!
      </h4>
    </div>
    <div>
      <h3>How to find the perfect pet</h3>
      <h4>
        Do you know what type of pet personality you’re looking for? Finding the
        ideal pet for your home should start with understanding the pet
        personality that best fits your lifestyle, not necessarily a specific
        breed. Consider this, do you need a dog that is low key? Perhaps a cat
        that gets along well with others? <br>
        <br>
         The rescue professionals posting on
        our site are experts at matching you with the right pet. Our website
        even has a "New Pet Alert" feature to help you narrow things down.
        Simply tell us what you are looking for and we’ll email you your matches
      </h4>
    </div>
  </div>
</section>
